<@content for="title">Equipamento: ${equipamento.nome}</@content>

<h2 class="title is-4">Equipamento: ${equipamento.nome}</h2>

<p><strong>IP:</strong> ${equipamento.ip}</p>

<h2 class="title is-4">Horários programados</h2>

<ul>    
    <#list horarios as horario>
    <li>
        <@form  id=horario.id action="delete" method="delete" html_id=horario.id>
        <button type="submit" class="button is-danger">x</button>
        </@form>
        ${horario.time}
    </li>
    </#list>
    
    <li>
        <@form id=equipamento.id action="cron.create" method="post" html_id=equipamento.id>
            <div class="control">
                <input name="time" type="time" class="input">
            </div>
            <button class="button is-success" type="submit">+</button>
        </@form>
    </li>
</ul>

